@font-face {
	font-family: 'Roboto';
	src: url('https://hubukrbrandsstorage.blob.core.windows.net/fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://hubukrbrandsstorage.blob.core.windows.net/fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Heading Now';
	src: url("../assets/fonts/Heading-Now-33-Book-trial.ttf");	
	font-display: swap;
}

@font-face {
	font-family: "Manrope";
	src: url("https://hubukrbrandsstorage.blob.core.windows.net/fonts/Manrope-Medium.woff2");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("https://hubukrbrandsstorage.blob.core.windows.net/fonts/Montserrat-Regular.woff2");
	font-display: swap;
}

@font-face {
	font-family: "Oswald";
	src: url("https://hubukrbrandsstorage.blob.core.windows.net/fonts/Oswald-Regular.ttf");
	font-display: swap;
}