.table-color {
    &:hover {
        background-color: gray;
    }
}

.table {
    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
    }

    &__width {
        width: 500px;
        padding: 20px;
    }
}

.popupSize {
    &__message {
        padding-top: 150px;
    }
}