.liveSearch {

    &__relative {
        position: relative;
    }

    &__input {
        margin-top: 5px;
        -moz-padding-start: calc(0.75rem - 3px);
        appearance: none;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        font-size: 1rem;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        width: 100%;
    }

    &__showResults {
        position: relative;
        margin-top: 0.25rem;
        width: 100%;
        background-color: rgb(255 255 255);
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        max-height: 14rem;
        overflow: auto;
        display: block;
        white-space: nowrap;
    }

    &__result {
        cursor: pointer;
        width: 100%;

        &:hover {
            background-color: rgb(55 65 81);
        }

        p {
            margin-bottom: 0;
            width: 100%;
        }
    }
}