@import "../../styles/variables.scss";
@import "../../styles/media.scss";

.hubBlog {
    padding: 0 18px;

    &__microTitle {
        padding-left: 20px;
        font-size: 14px;
        color: rgb(25, 24, 24);
    }

    &__header {
        font-size: 48px;
        padding-bottom: 24px;
        display: flex;
        justify-content: center;
    }

    &__title {
        margin-bottom: 0;
        font-size: 48px;
        font-weight: 500;
        text-decoration: none;
        color: black;

        &:hover {
            color: #3d3d3d;
            transition: color .2s ease;
        }
    }

    &__article {
        padding-bottom: 48px;
    }

    &__articles {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }

    &__photo {
        margin-bottom: 8px;
        max-width: 100%;
    }

    &__titleArticle {
        min-height: 75px;
        margin-bottom: 12px;
        font-family: 'Oswald';
        font-size: 25px;
        text-decoration: none;
        color: black;
        font-weight: 500;

        &:hover {
            color: black;
        }
    }

    &__text {
        line-height: 1.5;
        font-family: 'Montserrat';
        font-style: 16px;
        text-align: justify;
        min-height: 150px;
    }

    &__readNext {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        text-decoration: none;
        color: black;

        &:hover {
            color: black;
        }

        &::after {
            padding-left: 8px;
            content: url(../../assets/icons/main-page/Vector.svg);
        }
    }
}

@media (max-width: 768px) {
    .hubBlog {
        &__articles {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 540px) {
    .hubBlog {
        &__microTitle {
            padding-right: 20px;
            padding-left: 0;
            display: flex;
            justify-content: center;
        }

        &__header {
            font-size: 24px;
        }

        &__articles {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}