.admin-product-list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.admin {
  &__text {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: none;
      color: black;
    }
  }
  
  &__img {
    max-width: 75px;
  }

  &__tableColor{
    &:hover{
      background-color: rgb(173, 173, 173);
  }
  }

  &__header{
    background: lightpink;
    position: sticky;
    top: 0;
  }
}

.product-list {

  // display: flex;
  // justify-content: space-between;
  &__card {
    border: none;
  }
}