@import "../../styles/variables.scss";
@import "../../styles/media";

.privacy-policy {
    text-align: justify;

    * {
        font-family: "Manrope";
        font-size: 16px;
    }

    p {
        padding: 0 10px;
    }

    p,
    b {
        font-size: 15px;
    }

    font-size: 25px;
    text-indent: 1.5em;

    &__title-main {
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        font-size: 23px;
    }

    &__title {
        line-height: 1.5;
        font-size: 15px;
        padding: 0 10px;
        font-weight: 700;
    }

    &__text {
        padding: 0;
        margin: 0;
    }
}