.order-main {
  display: flex;
  justify-content: space-between;
  background-color: lightyellow;
}

.adminLinkProduct {
  text-decoration: none;
}

.admin-header-centre {
  text-align: center;
}

.admin-order-products {
  display: flex;
  flex-wrap: wrap;
}

.admin-order-product {
  text-decoration: underline;
}

.order-main-low {
  padding-left: 20px;
  display: flex;
  background-color: lightyellow;
}